{{> clinician_sidebar}}
{{> header}}

<div class="panel-content">

    {{!-- Back to dashboard and Heading --}}
    {{> clinician_patient_header this}}

    {{!-- Individual Patient's Content --}}
    <div class="patient_content">

        {{!-- Mini Sidebar --}}
        {{> clinician_patient_menu}}

        {{!-- Profile --}}
        <div class="wt-grid-container" style="padding: 35px">

            {{!-- Subheading: Profile --}}
            <div class="wt-grid-item size-12@p size-12@t">
                <h2>Profile</h2>
            </div>

            {{!-- Profile Card --}}
            <div class="wt-grid-item size-12@p size-12@t">
                <div class="wt-card">
                    <div class="wt-grid-item size-12@t">
                        <div class="wt-grid-container">

                            {{!-- Row 1 --}}
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Given Name(s)</label>
                                <input readonly type="text" value={{patient.givenName}} />
                            </div>
                            <div class="wt-grid-item size-1@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Family Name</label>
                                <input readonly type="text" value={{patient.familyName}} />
                            </div>

                            {{!-- Row 2 --}}
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Screen Name</label>
                                <input readonly type="text" value={{patient.screenName}} />
                            </div>
                            <div class="wt-grid-item size-1@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Email</label>
                                <input readonly type="text" value={{patient.email}} />
                            </div>

                            {{!-- Row 3 --}}
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-12@p size-5@t">
                                <label>Year of Birth</label>
                                <input readonly type="text" value={{patient.yearOfBirth}} />
                            </div>

                        </div>    
                        <div class="wt-grid-container">
                            
                            {{!-- Row 4 --}}
                            <div class="wt-grid-item size-half@t"></div>
                            <div class="wt-grid-item size-11@p size-11@t">
                                <label>Bio</label>
                                <textarea readonly rows="5">{{patient.bio}}</textarea>
                            </div>

                            {{!-- Spacing --}}
                            <div class="wt-grid-item size-12@p"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>