{{> clinician_sidebar}}
<div class="panel-content">
    <div class="wt-grid-container">

        {{!-- Profile Picture --}}
        <div class="wt-grid-item size-5@t display_flex_center">
            <div class="wt-grid-item size-12@t display_flex_center">
                <img class="wt-border-circle" src={{clinician.urlImage}} id="clinician_img" width="180px"
                    height="180px" style="cursor: pointer;" onclick="openModal('UpdateProfilePictureModal')">
            </div>
            <div class="wt-grid-item size-12@t" style="">
                <h3>{{clinician.givenName}} {{clinician.familyName}}</h3>
                <p style="color: grey; font-size:small;">{{clinician.headline}}</p>
                <i class="material-icons" style="font-size: large; color:gray; cursor: pointer"
                    onclick="openModal('UpdateProfilePictureModal')">edit</i>
            </div>
        </div>


        {{!-- Bio Box --}}
        <div class="wt-grid-item size-7@t display_flex_center">
            <div class="wt-card" style="height: 90%; width: 90% ">
                <div class="wt-grid-item size-12@t" style="height: 100%">
                    <div class="wt-grid-container" style="padding: 5px;">
                        <div class="wt-grid-item size-11@t" style="padding: 2px;">
                            <strong>Your Bio</strong>
                        </div>
                        <div class="wt-grid-item size-1@t" style="padding: 2px; text-align: right;">
                            <i class="material-icons" style="font-size: large; color:gray; cursor: pointer"
                                onclick="openModal('UpdateBioModal')">edit</i>
                        </div>
                    </div>
                    <div class="wt-grid-item size-12@t" style="padding: 5px;">
                        <textarea name="text" cols="20" rows="4" id="biodata" readonly>{{clinician.bio}}</textarea>

                    </div>
                </div>
            </div>
        </div>

        {{!-- Details Box --}}
        <div class="wt-grid-item size-12@t" style="width:97%;">
            <div class="wt-card">
                <div class="wt-grid-item size-12@t">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-10@t">
                            <h3>Your Details</h3>
                        </div>
                        <div class="wt-grid-item size-2@t" style="text-align: right;">
                            <i class="material-icons" style="font-size: large; color:gray; cursor: pointer"
                                onclick="openModal('UpdateDetailsModal')">edit</i>
                        </div>
                        <div class="wt-grid-item size-5@t">
                            <label>Email</label>
                            <input readonly type="text" value="{{clinician.email}}" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-6@t">
                            <label>Address</label>
                            <input readonly type="text" value="{{clinician.addressInfo.address}}" />
                        </div>
                        <div class="wt-grid-item size-5@t">
                            <label>Contact Number</label>
                            <input readonly type="text" value="{{clinician.contactNumber}}" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-3@t">
                            <label>City/Suburb</label>
                            <input readonly type="text" value="{{clinician.addressInfo.citySuburb}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>State</label>
                            <input readonly type="text" value="{{clinician.addressInfo.state}}" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-5@t">
                            <label>Year of Birth</label>
                            <input readonly type="text" value="{{clinician.yearOfBirth}}" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-3@t">
                            <label>Country</label>
                            <input readonly type="text" value="{{clinician.addressInfo.country}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>Postcode</label>
                            <input readonly type="text" value="{{clinician.addressInfo.postcode}}" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-12@p size-12@t">
                            <h3>Update password</h3>
                        </div>
                        <div class="wt-grid-item size-12@p size-5@t">
                            <label>Old password</label>
                            <input name="oldPassword" type="text" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-12@p size-5@t">
                            <label>New password</label>
                            <input name="newPassword" type="text" />
                        </div>
                        <div class="wt-grid-item size-half@t"></div>
                        <div class="wt-grid-item size-12@p size-12@t">
                            <div class="wt-text-align-right">
                                <button type="submit" class="wt-btn wt-btn-secondary" onclick="updatePassword()">Update
                                    password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Update Profile Picture Modal --}}
        <div id="UpdateProfilePictureModal" class="wt-modal">
            <div class="wt-modal-content">
                <span class="wt-modal-close">&times;</span>
                <form action="/clinician_profile/EditClinicianProfile?_method=PUT" method="POST">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-12@t">
                            <h2>Edit Profile Picture and </h2>
                        </div>
                        <div class="wt-grid-item size-5@t">
                            <label>Profile Picture URL</label>
                            <input name="urlImage" type="text" value={{clinician.urlImage}} />
                        </div>
                        <div class="wt-grid-item size-5@t"></div>
                        <div class="wt-grid-item size-6@t">
                            <label>Given Name/s</label>
                            <input required name="givenName" type="text" value={{clinician.givenName}} />
                        </div>
                        <div class="wt-grid-item size-6@t">
                            <label>Family Name</label>
                            <input required name="familyName" type="text" value={{clinician.familyName}} />
                        </div>
                        <div class="wt-grid-item size-9@t">
                            <label>Headline</label>
                            <input name="headline" type="text" value={{clinician.headline}} />
                        </div>
                        <div class="wt-grid-item size-12@t">
                            <div class="wt-text-align-right">
                                <button type="submit" class="wt-btn wt-btn-secondary">SAVE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {{!-- Update Bio modal --}}
        <div id="UpdateBioModal" class="wt-modal">
            <div class="wt-modal-content">
                <span class="wt-modal-close">&times;</span>
                <form action="/clinician_profile/EditClinicianProfile?_method=PUT" method="POST">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-12@t">
                            <h2>Update Your Bio</h2>
                        </div>
                        <div class="wt-grid-item size-12@t">
                            {{!-- <textarea rows="5"></textarea> --}}
                            <input type="text" id="box_bio" name="bio" value="{{clinician.bio}}">
                        </div>
                        <div class="wt-grid-item size-12@t">
                            <div class="wt-text-align-right">
                                {{!-- <button id='but_bio'>Submit</button> --}}
                                <button type="submit" class="wt-btn wt-btn-secondary" id="but_bio">SAVE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        {{!-- Update Details Modal --}}
        <div id="UpdateDetailsModal" class="wt-modal">
            <div class="wt-modal-content">
                <span class="wt-modal-close">&times;</span>
                <form action="/clinician_profile/EditClinicianProfile?_method=PUT" method="POST">
                    <div class="wt-grid-container">
                        <div class="wt-grid-item size-12@t">
                            <h2>Edit your Profile</h2>
                        </div>
                        <div class="wt-grid-item size-6@t">
                            <label>Email</label>
                            <input readonly name="email" type="email" value="{{clinician.email}}" />
                        </div>
                        <div class="wt-grid-item size-6@t">
                            <label>Address</label>
                            <input name="addressInfo[address]" type="tel" value="{{clinician.addressInfo.address}}" />
                        </div>
                        <div class="wt-grid-item size-6@t">
                            <label>Contact Number</label>
                            <input required name="contactNumber" type="text" pattern="\d*" minlength="10" maxlength="10"
                                value="{{clinician.contactNumber}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>City/Suburb</label>
                            <input name="addressInfo[citySuburb]" type="text"
                                value="{{clinician.addressInfo.citySuburb}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>State</label>
                            <input name="addressInfo[state]" type="text" value="{{clinician.addressInfo.state}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>Password</label>
                            <input name="password" type="password" value="{{clinician.password}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>Year of Birth</label>
                            <input required name="yearOfBirth" type="text" pattern="\d*" placeholder="YYYY"
                                maxlength="4" value="{{clinician.yearOfBirth}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>Country</label>
                            <input name="addressInfo[country]" type="text" value="{{clinician.addressInfo.country}}" />
                        </div>
                        <div class="wt-grid-item size-3@t">
                            <label>Postcode</label>
                            <input name="addressInfo[postcode]" type="text"
                                value="{{clinician.addressInfo.postcode}}" />
                        </div>
                        <div class="wt-grid-item size-12@t">
                            <div class="wt-text-align-right">
                                <button type="submit" class="wt-btn wt-btn-secondary">SAVE</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="notification_clinician" class="wt-notification"> </div>
        <div id="notification_clinician_warning" class="wt-notification warning"> </div>
    </div>
</div>
<script>
    box_bio = document.getElementById('box_bio');
    but_bio = document.getElementById('but_bio');
    biodata = document.getElementById('biodata');
    function bios() {
        biodata.innerHTML = box_bio.value;
    }
    but_bio.addEventListener('click', bios);
</script>